body {
	background-color: #A00000;
}
h1 {
	font-family: 'Nosifer', cursive;
	border-bottom: 5px solid #000;
}
p {
	font-family: 'Shojumaru', cursive;
}

#about-me-wrap {
	background-color: #fff;
	padding: 50px;
	width: 60%;
	margin: 100px auto;
}
#profile-wrap {
	float: left;
	width: 40%;
	margin-right: 10%;
}

#bio-wrap {
	float: right;
	width: 50%;
}

.clear {
	clear: both;
}